#error-page {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    color: #333;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin: 40px 0;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

a {
    color: #0078d4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}